<div class="container pt-4">
  <%= link_to lists_path, class: "back-link mb-3" do %>
      <i class="fa-solid fa-angles-left fa-lg back-icon"></i>
    <% end %>
  <div class="card-category" style="height: 400px;">
    <% background_image = @list.photo.attached? ? cl_image_path(@article.photo.key, height: 400, crop: :fill) : 'https://st.depositphotos.com/2097531/2145/i/450/depositphotos_21458013-stock-photo-vintage-theatre-spot-light-on.jpg' %>
    <div class="card-category d-flex justify-content-center align-items-center"
       style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= background_image %>'); height: 400px; background-size: cover; color: white; font-size: 44px;">
      <strong><%= @list.name %></strong>
    </div>
  </div>

  <div>
    <p class="bookmark-title"><strong>Your bookmarked films</strong></p>

    <div class="list-show-movie-cards">
      <%= render "bookmarks/bookmark" %>
    </div>

    <h1 class="new-bookmark-title">New bookmark</h1>
    <div class="new-bookmark">
      <%= simple_form_for([@list, @bookmark]) do |f| %>
        <div class="form-group new-bookmark-form-group">
          <%= f.input :comment, label: "Add a Comment", input_html: { class: "new-bookmark-form-control", placeholder: "A great move, with a brilliant twist..." } %>
          <%= f.association :movie, label: "Select a Movie", input_html: { class: "new-bookmark-form-control"} %>
        </div>
        <div class="new-bookmark-form-action">
          <%= f.button :submit, class: "new-bookmark-btn" %>
        </div>
      <% end %>
    </div>

  </div>
</div>
