<div class="container pt-4">

  <div class="card-category" style="height: 400px;">
    <% background_image = @list.photo.attached? ? cl_image_path(@article.photo.key, height: 400, crop: :fill) : 'https://st.depositphotos.com/2097531/2145/i/450/depositphotos_21458013-stock-photo-vintage-theatre-spot-light-on.jpg' %>
    <div class="card-category d-flex justify-content-center align-items-center"
       style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= background_image %>'); height: 400px; background-size: cover; color: white; font-size: 44px;">
      <strong><%= @list.name %></strong>
    </div>
  </div>

  <div>
    <p><strong>Your bookmarked films</strong></p>

    <div class="list-show-movie-cards">
      <%= render "bookmarks/bookmark" %>
    </div>

    <div class="mb-3 mt-4">
      <%= simple_form_for([@list, @bookmark]) do |f| %>
        <%= f.input :comment %>
        <%= f.association :movie %>
        <%= f.button :submit %>
      <% end %>
    </div>

  </div>
</div>
