<div class="container pt-4">

  <div>
    <h3><strong><%= @list.name %></strong></h3>
  </div>

  <div>
    <p><strong>Your bookmarked films</strong></p>

    <div class="card-list">
      <%# <ul class="list-group">  %>
      <% @list.bookmarks.each do |bookmark| %>
      <div class="card">
        <%= image_tag bookmark.movie.poster_url, class: "card-img-top" %>
        <div class="card-body">
          <li class="list-group-item card-title"><strong><%= bookmark.movie.title %></strong></li>
          <li class="list-group-item card-title"><%= bookmark.movie.overview %></li>
          <li class="list-group-item card-text"><em><%= "❝#{bookmark.comment}❞" %></em></li>
          <%= link_to "Delete", bookmark_path(bookmark),
          data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn w-100" %>
        </div>
      </div>
      <% end %>
    </div>

    <div class="mb-3 mt-4">
      <%= simple_form_for([@list, @bookmark]) do |f| %>
        <%= f.input :comment %>
        <%= f.association :movie %>
        <%= f.button :submit %>
      <% end %>
    </div>

  </div>
</div>
