<!DOCTYPE html>
<html>
  <head>
    <title>RailsWatchList</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
        <div class="navbar navbar-expand-sm navbar-light navbar-lewagon sticky-top">
        <div class="container-fluid">
          <a class="navbar-brand" href="http://localhost:3000/lists">
            <img src="https://e1.pngegg.com/pngimages/974/699/png-clipart-movies-and-popcorn-folder-icon-movies-thumbnail.png" />
      </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto">
                <li class="nav-item active">
                  <a class="nav-link mr-2" href="http://localhost:3000/lists">All lists</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="http://localhost:3000/lists/new">New list</a>
                </li>
                <%# <li class="nav-item dropdown">
                  <img class="avatar dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://kitt.lewagon.com/placeholder/users/ssaunier" />
                  <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" data-turbo-method="delete" href="#">Log out</a>
                  </div>
                </li> %>
                <!--li class="nav-item"-->
                <!--/li-->
            </ul>
          </div>
        </div>
      </div>
    <%= yield %>
  </body>
</html>
